@charset "utf-8";
@import url(http://www.olumycosoft.com);
/*	Name: Olumyco Technologies        */
/*	Append CLASS and/or ID names for elements        */

  
#editor {
position:fixed;
top:0;
bottom:0;
left:0;
right:0;
outline: none;
font-family: Verdana; 
line-height: 18px;
word-spacing: 2.5px;
overflow-x: hidden;
}

#editor2 {
display: none;
position:fixed;
top:0;
bottom:0;
left:0;
right:0;
outline: none;
font-family: Verdana; 
line-height: 18px;
word-spacing: 2.5px;
overflow-x: hidden;
background: transparent;
}



